<div class="uk-container uk-container-center">
  <div class="uk-navbar uk-margin-large">
    <ul class="uk-navbar-nav">
      <li routerLink="/market" routerLinkActive="uk-active"><a routerLink="/market">Настройки биржи</a></li>
      <li routerLink="/shares" routerLinkActive="uk-active"><a routerLink="/shares">Акции</a></li>
      <li routerLink="/members" routerLinkActive="uk-active"><a routerLink="/members">Участники</a></li>
    </ul>
  </div>
</div>
<div class="uk-container uk-container-center">
  <router-outlet></router-outlet>
</div>
